<!DOCTYPE html>
<html>

<head>
    <% include ./element/header %>
    <% include ./element/script %>

</head>

<body>

    <!-- <div class=" sticky-top bg-white">
        <div class="container mb-4">
            <div class="row justify-content-md-center">
                <a href="#"><img src="./img/logo2.png" style="width: 300px; height: 100px;" class="mr-4 p-3"></a>
                <div>
                    <form class="form-inline mr-4 mt-4 p-3" style="width: 500px;" action="#" method="GET">
                        <input class="form-control mr-1" style="width: 80%;" type="search" placeholder="Tìm kiếm..." name= "keyWord" value="#" aria-label="Search">
                        <button class="btn btn-danger " type="submit">tìm kiếm</button>
                    </form>
                </div>
                <a href="#"><span><img src="./img/cart-icon1.png" class="m-3 p-3"></span></a>
            </div>
            </div>
        </div> -->
        
        <!-- <% include ./element/nav-bar %> -->
 

    <!-- content -->
    <%- body %>

    <!--footer-->
    <% include ./element/footer %>

</body>

</html>