<div class=" col-lg-2 mt-4 ml-4">
    <!-- <img src="./img/logo1.PNG" alt="logo" style="width:322px; height:150px;"> -->
    <div class="list-group bg-light">
            <% statusFilter.forEach((item)=>{ %>
                <a href="/danh-muc-san-pham/<%= item.value %>" class="list-group-item bg-<%= item.class %>"><%= item.name %></a>
            <% }) %>
    </div>

</div>

